


/* ШРИФТИ */
.kapakana {
  font-family: 'Kapakana', cursive;
  font-size: 10rem;
}

.fira-sans {
  font-family: 'Fira Sans', sans-serif;
  font-size: 10rem;
}

/* КНОПКИ */
.button {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  background-color: var(--btn-color-01);
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 30px;

  transition: all 0.3s ease;
}

.button:hover {
  background-color: #fce4ec; /* Світло-рожевий фон */
  color: var(--bg-color-02); /* ТЕМНИЙ ТЕКСТ (тепер його буде видно!) */
  
  transform: translateY(-5px); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  
  cursor: pointer; 
}

.row {
  display: flex;
  justify-content: space-between; /* розкидає по ширині */
  align-items: center;
}
.hero-title {
  font-family: "Kapakana", cursive; 
  color: aliceblue;
  margin-top: 60px; 
  margin-left: 10%; 
  margin-bottom: 5px; /* відстань між заголовком і текстом */
}
.hero-paragraph {
  font-family: "Fira Sans", sans-serif; 
  color:aliceblue;
  margin: 0; /* відступ зверху */
  margin-left: 10%;   /* лівий відступ = 0 */
  text-align: left; /* вирівнювання тексту по лівому краю */
}
